* {
    margin: 0;
    padding: 0;
}

.frame {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largeFrame {
    /* background-color: blue;*/
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallFrame {
    background-color: rgb(143, 98, 68);
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 600px; 
    justify-content: space-around;
    
}

.input input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.point{
    display: flex;
    
}

.frameWord {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    height: 50px;
    width: 600px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
button{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color:#3FAB6F;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    background-color: #4f9c71;
    font-size: 20px;
    height: 50px;
    width: 100px;
    color: black;
}
.forn{
    font-size: 20px;
    color:black;
    
}
.forninput{
    font-size: 20px;
    color:black;
    font-weight: bold;
}